.wrapper {
  width: 100%;
  height: 100%;
}

.content {
  padding: 50px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.title {
  font-size: 36px;
  margin: 0 15px 0 0;
}

.list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  margin: 15px;
}

.data_container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.data_part {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  margin-right: 50px;
  flex: 1;
  width: 500px;
  height: 100%;
  padding-bottom: 50px;
}

.data_img {
  margin: 30px 0;
  width: 100%;
  object-fit: cover;
}

.data_description {
  font-size: 22px;
  margin: 0;
  padding: 0;
  word-break: break-all;
}

.stamp_item {
  cursor: default;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  padding: 20px 0;
}

.stamp_item_container_info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stamp_item_container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.stamp_grayscale {
  backdrop-filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.stamp_item_title {
  margin-left: 15px;
  font-size: 18px;
}

.get_stamp_link {
  margin-left: 15px;
}

.button {
  margin-left: auto;
  width: 150px;
  outline: none;
  color: white;
  border: none;
  border-bottom-color: var(--right-btn-hover-color);
  background-color: var(--right-btn-hover-color);
  &:hover {
    background-color: var(--right-btn-hover-color);
    opacity: 0.8;
  }
  &:focus {
    background-color: var(--right-btn-hover-color);
    opacity: 0.8;
  }
}
